body {
	font: 13px/23px Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	word-wrap: break-word;
	border-top: 4px solid;
}

a {
	@include transition(all, .1s, ease-in-out);
}

input::-moz-focus-inner {
  border: 0;
}

a:hover, a:active, a:focus {
 	text-decoration: none;
 	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', serif;
	
}