$body-bg: #efefef;
$text-color: #666;

$blue-color: #003a6a;
$yellow-color: #fecd0b;

$light-blue-text: #8ab5d6;
$heading-color: #282a2c;

$white-color: #fff;
$black-color: #000;

$light-bg: #f3f3f3;
$border-color: #d5dbe0;

$small-text: lighten($text-color, 20%);
$title-blue: #4782b2;

$footer-bottom-color: #6b90ad;
$footer-link: #8ab5d6;


//Cateogry colors
$cat1: #c463d2;
$cat2: #96be36;
